<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Cool table stuff</title>
  <meta name="description" content="Something cool about it">
  <meta name="author" content="Mr Cordero">
  <style>
    .rspec_cell {
      border: 1px solid;
    }
    .first_cell {
      background-color: red;
    }
    .last_cell {
      background-color: green;
    }
  </style>
</head>

<body>
  <%= @content %>
</body>
</html>
